<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Dinosaurs</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dinosaurs/new">Add a Dino</a></li>
        <li><a href="/cryptids/new">Add a Cryptid</a>
        </li>
    </ul>
    <h1> I LOVE DINOS! I ALSO LOVE CRYPTIDS!</h1>
    <%- body %>
</body>
</html>