<form method="POST" action="/cryptids/<%= crypId %>/?_method=PUT">
    <label>Name</label>
        <input type="text" name="name" value="<%= cryp.name %>">
    <label>Type</label>
    <input type="text" name="type" value="<%= cryp.type %>">
    <input type="submit">
    </form>